*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
nav{
    background-color:#0f0f0f;
    position: fixed;
    margin-top: 0px;
    left: 0;
    width: 100%;
    height: 70px;
    top: 0px;
    z-index: 2;
}
nav ul{
    display: flex;  
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10%;
    top: 21px;
    gap: 78px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}
nav ul li {
    list-style: none;
}
nav ul li a{
  color: #fff;
  text-decoration: none;
}
li.shop{
    position: relative;
    left: 10%;
    background-color: #1d1d1d;
    height: -28px;
    padding: 15px 51px 15px 54px;
    border-radius: 4px;
    cursor: pointer;
}

.hamburger{
    display: none;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 2px;
}
@media(max-width:1045px){
    .mainset{
        position: absolute;
        left: 1px;
        height: 1px;
        width: 1px;

    }
   .mainset img{ 
    left: 2px;
    position: absolute;
    left: -50px;
    top: 17px;
    }
    .hamburger{
    display: block;
    position: fixed;
    top: 33px;
    right: 20px 
    }
    nav ul{
        display: none;
    }
    
}
@media only screen and (max-width:1016px){
   .written{
    margin-left:-29.5%;
    width: 90%;
    z-index: 3;
   }
   .written img{
    width: 270px;
   }

}






.logo{
    position: absolute;
    top: 31px;
    left: 37px 
}
.section1{
    height: 100vh;
    background-color: #0f0f0f;
}
.mainset{
    z-index: 2;
    position: absolute;
    top: -160px;
    left: 72px;                   
    
}
.written{
    position: absolute;
    left: 38.5%;
    height: 75%;
    /*width: 58.5%;*/
    top: 18%;
    color: #fff;
}
.written h1{
    font-size: 4rem;
    font-weight: 700;
}
written p{
    position: relative;
    top:33px;
    line-height: 28px;
}
.btn{
    height: 12%;
    width: 55%;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    background-color: #181818;
    border: none;
    cursor: pointer;
    position: relative;
    top: 26px;
}
.btn p{
    font-size: 19px;
    font-weight: 600;
}
.btn img{
    height: 30px;
    width: 29px;
}

.section2{
    height: 110vh;
    background-color: #0f0f0f;
}
.apps{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;;
}
@media only screen and (max-width:450px){
    .apps img{
        width: 50px;
        height: 20px;
    }
    .btn{
        width: 92%;
    }
}
.speces{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}

@media only screen and (max-width:950px){
    .section1{
        height: 90vh;
    }
}
.specitem{
    display: flex;
    flex-direction: row;
    color: #fff;
    position: absolute;
    top: 130%;
    column-gap: 30px;
    margin-left: 50%;
    transform: translate(-50%, 1px);

}
.flexbox1{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 200px
}
.headset img{
    margin-top: 64px;
}

.specs_data:nth-child(1),
.specs_data:nth-child(4){
    margin-left: 40px;
}
@media only screen and (max-width:660px){
    .headset img{
        max-width: 150px;
        margin-left: -20%;
        margin-top: 78%;  
    }
    .specitem{
        column-gap: 0px;
        top:117%;
        left: 13px;
    }
}

.section3{
    height: 100vh;
    background-color: #0f0f0f;
}

.casesection{
    display: flex;
    flex-direction: row;
    color: #fff;
    column-gap: 76px;
    margin-left: 50%;
    transform: translate(-50%, 1px);
    padding-top: 13%;
}
.case_data{
    width: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.case_data h6{
    font-size: 15px;
    font-weight: 300;
    color: gainsboro;
}
.more{
    background: #1d1d1d;
    height: 30pxp;
    height: 60px;
    width: 180px;
    display: flex;
    flex-direction: row;
    gap: 26px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
}
@media only screen and (max-width:740px){
    .casesection{
    flex-direction: column;
    }
    .case_img img{
        width: 190px;
    }
    .casesection{
        padding-top: 30%;
    }

}
.section4{
    height: 100vh;
    background-color: #0f0f0f;
}

.buy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 5%;
    height: 45%;
    width: 70%;
    position: relative;
    background-color: #1d1d1d;
    margin-left: 15%;
    margin-right: 19%;
    border-radius: 4px;
    color: #fff;
    gap: 35px;
    margin-bottom: 50px;
}
.compactimg img{
max-width: 100%;
}

.buy p{
    color: gainsboro;
    margin-top: 15px;
}
.buybtn{
    background: #000;
    height: 48px;
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 44px;
    border-radius: 2px;
}
.compactimg{
    display: flex;
    justify-content: center;
 
}
@media only screen and (max-width:884px){
    .buy{
    flex-direction: column;
    height: 70%;
    }
    .buybtn{
        margin-left: 40px;
    }
}
.section5{
    height: auto;
    background-color: #0f0f0f;
}

.product_container{
    position: relative;
    width: 70%;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-column-gap: 70px;
    grid-auto-rows: minmax(100px,auto);
    grid-auto-columns: minmax(100px,auto);
    top: 100px;
}

.items{
    height: 60%;
    background-color: #1d1d1d;
    border: 15px;
    border-radius: 24px;
}

.items img{
    height: 90%;
    position: relative;
    top: -35%;
    margin-left: 16%;
    transform: translate(10px, 10px);
}

.price{
    position: relative;
    top: -26%;
    left: 24px;
}
.price h3{
    color: #fff;
}
.price h4{
    color: #cecece;
}
.shoppingbag img{
    height: 25px;
    width: 25px;
}
.shoppingbag{
    position: relative;
    width: 10px;
    top: -46%;
    left: 75%;
}


.container1{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #1d1d1d;
    padding: 30px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}